<mat-accordion class="accordian-container" multi="true">

    <div class="header">
        <div class="mat-title text-center">Bank Details</div>
        <div>
            <button mat-button color="accent" (click)="navigateToPreview()">
                Preview <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </div>

    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Bank Details
            </mat-panel-title>
            <mat-panel-description>
                Bank Name, Acc No., etc.
            </mat-panel-description>
        </mat-expansion-panel-header>
        <!--Progress Bar  -->
        <mat-progress-bar mode="indeterminate" *ngIf="showProgressBar"></mat-progress-bar>
        <!-- Expansion Panel Content -->
        <ng-template matExpansionPanelContent>
            <form [formGroup]="bankFormGroup">
                <div class="form-container">
                    <div class="top-container">
                        <blockquote>
                            <p class="mat-body">
                                Upload any one of Cancelled Cheque Leaf / Bank Passbook Front Page/ Internet Banking
                                Statement along with entered respective fields.
                            </p>
                        </blockquote>
                    </div>

                    <div class="left-container">
                        <mat-form-field color="accent" appearance="outline">
                            <mat-label>Bank Name</mat-label>
                            <input matInput placeholder="HDFC, SBI, Axis, etc.," formControlName="bankName" required>
                            <mat-error *ngIf="bankDetailsFormControl.bankName.errors?.required" align="start">
                                Bank Name is required!
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field color="accent" appearance="outline">
                            <mat-label>Branch Name</mat-label>
                            <input matInput placeholder="TownBranch, CityBranch, etc.," formControlName="branchName"
                                required>
                            <mat-error *ngIf="bankDetailsFormControl.branchName.errors?.required" align="start">
                                Branch Name is required!
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field color="accent" appearance="outline">
                            <mat-label>Account Number</mat-label>
                            <input matInput placeholder="1234567897" formControlName="accountNumber" required>
                            <mat-error *ngIf="bankDetailsFormControl.accountNumber.errors?.required" align="start">
                                Account Number is required!
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field color="accent" appearance="outline">
                            <mat-label>IFSC Code</mat-label>
                            <input matInput placeholder="eg ABDC0012" formControlName="ifscCode" required>
                            <mat-error *ngIf="bankDetailsFormControl.ifscCode.errors?.required" align="start">
                                IFSC Code is required!
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field color="accent" appearance="outline">
                            <mat-label>Name as per the bank</mat-label>
                            <input matInput placeholder="Name as per the bank" formControlName="empName" required>
                            <mat-error *ngIf="bankDetailsFormControl.empName.errors?.required" align="start">
                                Name is required!
                            </mat-error>
                            <mat-error *ngIf="bankDetailsFormControl.empName.errors?.minlength" align="end">
                                Min 3 Chars!
                            </mat-error>
                            <mat-error *ngIf="bankDetailsFormControl.empName.errors?.pattern" align="start">
                                Only Letters are Accepted!
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="right-container">

                        <mat-form-field color="accent" appearance="outline">
                            <mat-label>Document Type</mat-label>
                            <mat-select formControlName="docType" required placeholder="Cancel Cheque/Bank Passbook">
                                <mat-option value="Cancelled Cheque Leaf">Cancelled Cheque Leaf</mat-option>
                                <mat-option value="Bank Passbook Front Page">Bank Passbook Front Page</mat-option>
                                <mat-option value="Internet Banking Statement">Internet Banking Statement</mat-option>
                            </mat-select>
                            <mat-error *ngIf="bankDetailsFormControl.docType.errors?.required" align="start">
                                Document Type is required!
                            </mat-error>
                        </mat-form-field>

                        <mat-card class="material-card">
                            <img mat-card-image *ngIf="imageUrl" [src]="imageUrl">
                            <div class="pdf-viewer-container" *ngIf="pdfUrl">
                                <pdf-viewer [src]="pdfUrl" [original-size]="false"></pdf-viewer>
                            </div>

                            <mat-card>
                                <mat-card-header>
                                    <mat-card-title>
                                        Bank Document
                                    </mat-card-title>
                                </mat-card-header>
                            </mat-card>

                            <mat-card-actions class="text-center">
                                <input #imageInput style="display : none" type="file"
                                    accept="image/jpeg,image/png,application/pdf,image/x-eps"
                                    (change)="onImageSelected($event)" required>
                                <button mat-raised-button color="accent" (click)="imageInput.click()">
                                    <mat-icon>note_add</mat-icon> Select
                                </button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </form>
        </ng-template>

        <mat-action-row>
            <button color="accent" mat-raised-button [disabled]="!bankFormGroup.valid || !fileUrl"
                (click)="saveBankDetails()">Save
                Bank Details</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>