mat-expansion-panel {
    mat-expansion-panel-header {
        display: flex;
        align-items: stretch;
        flex-basis: auto;
        mat-panel-title,
        mat-panel-description {
            padding: 0.5rem 0 0.5rem 0;
            display: flex;
            flex-wrap: wrap;
            flex-basis: 0;
        }
    }
    .form-container {
        margin: 3rem 0;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: minmax(1rem, auto);
        grid-template-areas:
            "left-container right-container"
            "end-container end-container";

        .left-container {
            grid-area: left-container;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            mat-form-field {
                min-width: 30rem;
            }
        }

        .right-container {
            grid-area: right-container;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            mat-form-field {
                min-width: 30rem;
            }
            .mat-body-2 {
                margin-bottom: 3rem;
            }
        }

        .nav-buttons {
            grid-area: end-container;
            display: flex;
            justify-content: space-between;
        }
        @media all and (max-width: 768px) {
            grid-template-columns: 1fr;
            grid-template-areas:
                "left-container"
                "right-container"
                "end-container";

            .left-container .right-container {
                mat-form-field {
                    max-width: 20rem;
                }
            }
            .nav-buttons {
                justify-content: space-between;
            }
        }
    }
}
