<mat-accordion class="accordian-container" multi="true">

    <div class="header">
        <div class="mat-title">Application Form
            <div class="subtile ">
                Company Application Form
            </div>
        </div>
        <div>
            <button mat-button color="accent" (click)="navigateToPreview()">
                Preview <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </div>
    
    <app-candidate-details></app-candidate-details>

    <app-address-list></app-address-list>

    <app-identity-list></app-identity-list>

    <app-language-proficiency></app-language-proficiency>

    <app-refperson-list></app-refperson-list>

    <app-education-details></app-education-details>

    <app-specialised-training></app-specialised-training>

    <app-experience-details></app-experience-details>

    <app-travel-details></app-travel-details>

</mat-accordion>