.accordian-container {
    .header {
        display: flex;
        margin-right: 2rem;
        justify-content: space-between;
    }

    mat-expansion-panel {
        mat-expansion-panel-header {
            display: flex;
            align-items: stretch;
            flex-basis: auto;
            mat-panel-title,
            mat-panel-description {
                padding: 0.5rem 0 0.5rem 0;
                display: flex;
                flex-wrap: wrap;
                flex-basis: 0;
            }
        }
        .form-container {
            display: grid;
            justify-content: center;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: minmax(1rem, auto);
            grid-template-areas:
                "top-container top-container"
                "middle-container middle-container"
                "bottom-container bottom-container"
                "end-container end-container";

            .top-container {
                grid-area: top-container;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

            .middle-container {
                grid-area: middle-container;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 1rem 1rem 1rem 2rem;
                border-left: none;
                position: relative;

                .pf-details {
                    width: 100%;
                    border-collapse: collapse;
                    th {
                        font-weight: 500;
                        padding: 6px;
                    }

                    tr {
                        border: 2px solid #ccc;
                    }

                    td {
                        border: 2px solid #ccc;
                        padding: 1rem;
                        width: 25%;
                    }
                    tbody {
                        .content {
                            td {
                                padding: 6px;
                            }
                        }
                    }
                }

                .table-kyc {
                    width: 100%;
                    border-collapse: collapse;
                    th {
                        font-weight: 570;
                        padding: 1rem;
                        border: 2px solid #ccc;
                        text-align: center;
                    }
                    tr {
                        border: 2px solid #ccc;
                    }
                    td {
                        border: 2px solid #ccc;
                        padding: 1rem;
                        width: 25%;
                        text-align: center;
                    }
                }

                .bottom-container {
                    grid-area: bottom-container;
                    margin-right: 2rem;
                    .para-container {
                        margin-left: 2rem;
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                        border-left: none;
                        position: relative;
                        text-align: justify;
                    }
                    .fit-picture {
                        padding: 2rem;
                        background-color: transparent;
                        width: 280px;
                    }
                }
                .end-container {
                    grid-area: end-container;
                    margin-right: 2rem;
                    .para-container {
                        margin-left: 2rem;
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                        border-left: none;
                        position: relative;
                        text-align: justify;
                    }
                }
            }

            @media all and (max-width: 768px) {
                grid-template-columns: 1fr;
                grid-template-areas:
                    "top-container"
                    "midddle container"
                    "bottom-container"
                    "end-container";

                .middle-container {
                    table,
                    thead,
                    tbody,
                    th,
                    td,
                    tr {
                        display: block;
                        align-items: center;
                    }

                    .pf-details {
                        td {
                            padding: 1rem;
                            width: 100%;
                        }
                        thead tr {
                            position: absolute;
                            top: -9999px;
                            left: -9999px;
                        }

                        tr {
                            border: 2px solid #ccc;
                            align-items: center;
                        }

                        td {
                            /* Behave  like a "row" */
                            border: none;
                            border-bottom: 1px solid #eee;
                            position: relative;
                            padding-left: 1rem;
                            align-items: center;
                        }

                        td:before {
                            /* Now like a table header */
                            position: absolute;
                            /* Top/left values mimic padding */
                            top: 6px;
                            left: 6px;
                            width: 45%;
                            padding-right: 10px;
                            white-space: nowrap;
                        }
                    }

                    .table-kyc {
                        display: block;
                        td {
                            padding: 1rem;
                            width: 100%;
                        }
                        thead tr {
                            position: absolute;
                            top: -9999px;
                            left: -9999px;
                        }

                        tr {
                            border: 2px solid #ccc;
                        }

                        td {
                            /* Behave  like a "row" */
                            border: none;
                            border-bottom: 1px solid #eee;
                            position: relative;
                            padding-left: 50%;
                            align-items: center;
                            text-align: left;
                        }

                        td:before {
                            /* Now like a table header */
                            position: absolute;
                            /* Top/left values mimic padding */
                            top: 6px;
                            left: 6px;
                            width: 45%;
                            padding-right: 10px;
                            white-space: nowrap;
                        }

                        td:nth-of-type(1):before {
                            content: "KYC Doc Type";
                        }
                        td:nth-of-type(2):before {
                            content: "Name on KYC";
                        }
                        td:nth-of-type(3):before {
                            content: "KYC Number";
                        }
                        td:nth-of-type(4):before {
                            content: "Remarks";
                        }
                    }
                }
            }
        }
    }
}
