<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Nomination Form
        </mat-panel-title>
        <mat-panel-description>
            Name, gender, marital status, etc.
        </mat-panel-description>
    </mat-expansion-panel-header>
    <!--Progress Bar  -->
    <mat-progress-bar mode="indeterminate" *ngIf="showProgressBar"></mat-progress-bar>
    <!-- Expansion Panel Content -->
    <div>
        <form [formGroup]="nominationFormGroup">
            <div class="form-container">
                <div class="top-container">
                    <p class="mat-h2">NOMINATION AND DECLARATION FORM FOR UNEXEMPTED/EXEMPTED ESTABLISHMENTS</p>

                    <p class="mat-body">Declaration and Nomination Form under the Employees’ Provident Funds and
                        Employees’ Pension Scheme</p><br>

                    <p class="mat-body">(Paragraphs 33 & 61 (1) of the Employees Provident Fund Scheme, 1952 and
                        Paragraph 18 of the Employees’ Pension scheme, 1995)</p><br>

                    <p class="mat-body-strong">(PLEASE GO THROUGH THE INSTRUCTIONS)</p>
                </div>
                <div class="left-container">
                    <mat-form-field color="accent" appearance="outline">
                        <mat-label>Full Name</mat-label>
                        <input matInput placeholder="Full Name" formControlName="empName" required>
                        <mat-hint align="start">
                            1) Full Name
                        </mat-hint>
                        <mat-error *ngIf="nominationFormControl.empName.errors?.required" align="start">
                            Full Name is required!
                        </mat-error>
                        <mat-error *ngIf="nominationFormControl.empName.errors?.minlength" align="end">
                            Min 3 Chars!
                        </mat-error>
                        <mat-error *ngIf="nominationFormControl.empName.errors?.pattern" align="start">
                            Only Letters are Accepted!
                        </mat-error>

                    </mat-form-field>
                    <mat-form-field color="accent" appearance="outline">
                        <mat-label>Father / Spouse Name</mat-label>
                        <input matInput placeholder="Father / Spouse Name" formControlName="empFatherOrSpouseName"
                            required>
                        <mat-hint align="start">
                            2) Father / Spouse Name
                        </mat-hint>
                        <mat-error *ngIf="nominationFormControl.empFatherOrSpouseName.errors?.required" align="start">
                            This field is required!
                        </mat-error>
                        <mat-error *ngIf="nominationFormControl.empFatherOrSpouseName.errors?.minlength" align="end">
                            Min 3 Chars!
                        </mat-error>
                        <mat-error *ngIf="nominationFormControl.empFatherOrSpouseName.errors?.pattern" align="start">
                            Only Letters are Accepted!
                        </mat-error>

                    </mat-form-field>
                    <mat-form-field color="accent" appearance="outline">
                        <mat-label>Date of Birth</mat-label>
                        <input matInput [matDatepicker]="dobpicker" [max]="today" placeholder="MM/DD/YYYY"
                            formControlName="dateOfBirth" [value]="dob" required>
                        <mat-datepicker-toggle matSuffix [for]="dobpicker"></mat-datepicker-toggle>
                        <mat-datepicker #dobpicker></mat-datepicker>
                        <mat-hint align="start">
                            3) Date of Birth
                        </mat-hint>
                        <mat-error *ngIf="nominationFormControl.dateOfBirth.errors?.required" align="start">
                            Date of Birth is required!
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field color="accent" appearance="outline">
                        <mat-label>Gender</mat-label>
                        <mat-select formControlName="gender" required placeholder="Male/Female">
                            <mat-option value="Male">Male</mat-option>
                            <mat-option value="Female">Female</mat-option>
                            <mat-option value="Prefer Not to Disclose">Prefer Not to Disclose</mat-option>
                        </mat-select>
                        <mat-hint align="start">
                            4) Gender </mat-hint>
                        <mat-error *ngIf="nominationFormControl.gender.errors?.required" align="start">
                            Gender is required!
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="right-container">
                    <mat-form-field color="accent" appearance="outline">
                        <mat-label>Maritial Status</mat-label>
                        <mat-select formControlName="maritialStatus" required
                            placeholder="Married, Unmarried, Divorcee etc.">
                            <mat-option value="Never Married">Never Married</mat-option>
                            <mat-option value="Married">Married</mat-option>
                            <mat-option value="Seperated">Seperated</mat-option>
                            <mat-option value="Widow">Widow</mat-option>
                            <mat-option value="Widower">Widower</mat-option>
                            <mat-option value="Prefer Not to Disclose">Prefer Not to Disclose</mat-option>
                        </mat-select>
                        <mat-hint align="start">
                            5) Maritial Status
                        </mat-hint>
                        <mat-error *ngIf="nominationFormControl.maritialStatus.errors?.required" align="start">
                            Marital Status is required!
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field color="accent" appearance="outline">
                        <mat-label>Account Number</mat-label>
                        <input matInput formControlName="accountNumber">
                        <mat-hint align="start">
                            6) Account Number
                        </mat-hint>
                    </mat-form-field>
                    <mat-form-field color="accent" appearance="outline">
                        <mat-label>Premanent Address</mat-label>
                        <textarea matInput placeholder="H.No/Flat No. etc.," formControlName="permanentAddress"
                            required></textarea>
                        <mat-hint align="start">
                            7) Premanent Address
                        </mat-hint>
                        <mat-error *ngIf="nominationFormControl.permanentAddress.errors?.required" align="start">
                            Premanent Address is required!
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field color="accent" appearance="outline">
                        <mat-label>Present Address</mat-label>
                        <textarea matInput placeholder="H.No/Flat No. etc.," formControlName="presentAddress"
                            required></textarea>
                        <mat-hint align="start">
                            7) Present Address
                        </mat-hint>
                        <mat-error *ngIf="nominationFormControl.presentAddress.errors?.required" align="start">
                            Present Address is required!
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
    <mat-action-row>
        <button color="accent" mat-raised-button [disabled]="!nominationFormGroup.valid"
            (click)="saveEPFNominationForm()">Save Nomination Form</button>
    </mat-action-row>
</mat-expansion-panel>