<mat-accordion class="accordian-container" multi="true">

    <div class="header">
        <div class="mat-title text-center">Form 11</div>
        <div>
            <button mat-button color="accent" (click)="navigateToPreview()">
                Preview <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </div>

    <app-declaration-form></app-declaration-form>

    <app-kyc-details></app-kyc-details>

    <app-undertaking-details></app-undertaking-details>

</mat-accordion>