<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Non Disclosure Agreement
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>

        <div class="form-container" id="pdf-content">
            <div class="top-container">
                <div class="mat-title text-center">
                    Terms of Offer of Employment
                </div>
                <div class="text-right">
                    <img class="fit-picture" src="../../../assets/prodapt_logo_comp.png">
                </div>
            </div>

            <div class="middle-container">

                <div class="mat-body para-container">
                    1. You will be entrusted with the duty of working on various projects and client
                    engagements; in doing so the company reserves the right to transfer you to any of its
                    worldwide locations. It is imperative that once you are working on a project, you
                    continue to work with the company on the project until its completion. PRODAPT has the right to
                    transfer the employment or services of the Employee to any affiliate or group entity or
                    any lawful transferee//assignee of PRODAPT’s business, subject to compliance with applicable
                    laws. However, the Employee does not have any right to seek employment in any affiliate
                    or group entity of PRODAPT, on any ground whatsoever.
                </div>
                <div class="mat-body para-container">
                    2. Employee will be on probation for Six months, at the end of the probation period,
                    unless
                    and until the organization comes back with an extension of the probation, your services
                    will
                    be deemed to be confirmed. Also, during the probation period the company will be
                    entitled to
                    discontinue your services with immediate effect in case your performance is not found
                    satisfactory.
                </div>
                <div class="mat-body para-container">
                    3. Employment under this agreement may be terminable by PRODAPT with a minimum of 90
                    days
                    prior notice to Employee.

                    Employment under this agreement may be terminable by Employee with a minimum of 90 days
                    prior notice to PRODAPT. This is also applicable for employees under probation.

                    For purposes of this agreement, cause means criminal activity, dishonesty, negligence,
                    or
                    breach of the Employee’s fiduciary duties to PRODAPT, breach or non-observance of the
                    terms
                    of this agreement or failure to perform duties to the standards laid down by PRODAPT.

                </div>
                <div class="mat-body para-container">

                    4. Your leave entitlement will be governed by the policy of the company applicable to
                    your
                    category of, if for any reason, you remain absent for a continuous period of three (3)
                    days
                    without leave or without intimating and obtaining the prior approval of your manager, or
                    if
                    you remain absent for a period of three (3) days beyond the period of leave originally
                    granted without obtaining the approval of your manager, it would be treated as
                    abandonment
                    of service and you will be deemed to have voluntarily terminated your service without
                    notice.
                </div>
                <p class="mat-body para-container">

                    5. This is in addition to the company’s right to terminate you under the Breach of Faith
                    clause set out below.
                </p>


                <div class="mat-body-strong para-container">Breach of Faith:</div>
                <div class="mat-body para-container">
                    1. From this date onwards during the term of your employment and for a period of
                    three
                    years after the termination of your employment, for any reason whatsoever, you
                    irrevocably bind yourself that:

                    <p class="mat-body para-container">
                        a) All information given or supplied by you to the company is true and complete
                        in all respects.
                        <br>
                        b) You shall not violate the provisions pertaining to Intellectual Property and
                        other
                        Protective Covenants.
                        <br>
                        c) You shall promptly inform us in case any individual (whether in the
                        employment of
                        Prodapt or not) or any entity solicits or induces or makes any offer to you,
                        seeking
                        that you breach your obligations embodied in Clauses 3.06, 3.08.2 and 3.09.1
                        hereof
                    </p>

                </div>
                <div class="mat-body para-container">
                    2. In the event of your violating any of the above, you shall be liable to be
                    immediately terminated by the company if you are still in the company’s employment
                    without any further notice and without any pay or compensation. Any employment
                    benefits accrued in your favor by that date, shall also automatically lapse. You shall also
                    be liable to pay to the company a pre-estimated liquidated sum equivalent to two year’s
                    gross salary by way of damages for your breach of faith, which the company will be
                    entitled to claim against you, without prejudice to any other remedies available to
                    Prodapt against the Employee, under any other provision of law or contract and
                    Prodapt shall be at liberty to take such further action as it may see fit, to recover
                    further damages from the Employee and/or to prosecute the Employee.
                </div>
                <div class="mat-h3 para-container">3.INTELLECTUAL PROPERTY AND OTHER PROTECTIVE COVENANTS
                    <p class="mat-body para-container">
                        3.01 Prodapt is in the business of providing
                        software services and solutions to global clients (The "Business")
                    </p>

                    <p class="mat-body para-container">
                        3.02 The provisions hereof shall not create any right to continued employment of
                        the
                        Employee for Prodapt for any specific term. Employee's employment by Prodapt
                        shall be at
                        will, and may be terminated either party at any time in accordance with the
                        Employment
                        Agreement. Notwithstanding anything contained anywhere else in this agreement,
                        it is
                        made clear that these provisions are severable, and shall continue to be valid
                        and
                        enforceable, notwithstanding the termination, breach, or occurrence of an event
                        of force
                        majeure, with respect to the Agreement.

                    </p>
                    <div class="mat-body-strong para-container">3.03 Assignment of intellectual property rights
                        <p class="mat-body">
                            Employee agrees to promptly make full written disclosure to Prodapt and will hold in
                            trust for the sole right and benefit of Prodapt, and Employee hereby assigns to
                            Prodapt, or its designee all Employee's right, title and interest in and to any and
                            all inventions, original works of authorship, developments, concepts, improvements
                            or trade secrets, and to any and all inventions, original works of authorship,
                            developments, concepts, improvements or trade secrets, of whatever nature and
                            whether or not patentable or registrable under copyright or similar laws, which
                            Employee may solely or jointly conceive or develop or reduce to practice, or cause
                            to be conceived or developed or reduced to practice, during the period Employee is
                            employed by Prodapt (collectively referred to as "Inventions"); and Employee further
                            agrees that the foregoing shall also apply to Inventions which related to the
                            business of Prodapt or to Prodapt's anticipated business as of the end of Employee's
                            employment and which were conceived or developed during Employee's employment with
                            Prodapt and reduced to practice during a period of one year after the termination of
                            Employee's employment. Without limiting the foregoing, Employee further acknowledges
                            that all original works of authorship which are made by Employee (solely or jointly
                            with others) within the scope of Employee's employment and which are protectable by
                            copyright are "works made for hire”. A work or invention is deemed to have been made
                            during the period of employment with Prodapt if, during such period, the invention
                            was conceived or first actually reduced to practice.
                        </p>
                    </div>
                    <div class="mat-body-strong para-container">3.04 Maintenance of Records
                        <p class="mat-body">
                            Employee agrees to keep and maintain adequate and current written records of all
                            Inventions
                            made by Employee (solely or jointly with others) during the term of Employee's
                            employment
                            with Prodapt. The records will be in form of notes, sketches, drawings, and any
                            other
                            format
                            that may be specified by Prodapt. The record will be available to and remain the
                            sole
                            property of Prodapt at all times.
                        </p>
                    </div>
                    <div class="mat-body-strong para-container">3.05 Patent and Copyright Registrations
                        <p class="mat-body">Employee agrees to assist Prodapt, or its designee, at Prodapt's
                            expense, in
                            every proper way to secure Prodapt's rights in the Inventions and any copyrights,
                            patents,
                            mask work rights or other intellectual property rights relating thereto in any and
                            all
                            countries, including the disclosure to Prodapt of all pertinent information and data
                            with
                            respect thereto and the execution of all applications, specifications, oaths,
                            assignments
                            and all others instruments which Prodapt shall deem necessary in order to apply for
                            and
                            obtain such rights and in order to assign and convey to Prodapt, its successors,
                            assign
                            and
                            nominees the sole and exclusive right title and interest in and to such Inventions,
                            and
                            any
                            copyrights, patents, mask work rights or other intellectual property rights relating
                            thereto.
                        </p>
                    </div>
                    <div class="mat-body-strong para-container">3.06 Non-Compete provisions
                        <p class="mat-body">Employee agrees that during or within a period of two years after
                            the
                            completion of any service provided under the terms of this agreement, Employee shall
                            not,
                            except with the prior written consent of Prodapt, accept any offer of employment
                            from
                            any
                            customer of Prodapt, or the customer’s end-user customer (in the case of Prodapt
                            being a
                            sub-contractor) with which the Employee may have come in contact as a result of this
                            agreement or ex-employees of Prodapt or sister and affiliated concerns of customers
                            whether
                            such employment be on a part-time, full-time, independent contractor, or any other
                            basis.
                            The Employee shall also be liable to promptly inform Prodapt in the event that
                            anycustomer
                            or other party, with whom the Employee may have come in contact as a result of this
                            agreement, makes an offer of employment to the Employee.<br>
                            Employee agrees that during or within a period of two years after the completion of
                            any
                            service provided under the terms of this agreement, Employee shall not join or
                            assist in
                            the
                            starting up of a firm in competition to Prodapt, or shall not, except with the prior
                            written
                            consent of Prodapt, accept any offer of employment from any firm that competes with
                            Prodapt.
                        </p>
                    </div>
                    <div class="mat-body-strong para-container">3.07 Return of Property
                        <p class="mat-body">a) Employee agrees that, upon termination of his or her
                            employment with Prodapt, Employee will deliver to Prodapt (and will not keep in
                            his or her possession or deliver to anyone else) any and all devices, records,
                            data, notes, reports, proposals, lists, correspondence, specifications,
                            drawings, blueprints, sketches, materials, equipment, other documents or
                            property, or electronic copies or other reproductions of any of the
                            aforementioned items, containing Confidential Information or otherwise belonging
                            to Prodapt, its successors or assigns.</p>
                        <p class="mat-body">b) After the termination of your employment with Prodapt, you
                            shall not for a period of 3 years communicate with or attempt to communicate
                            with any customer of Prodapt.
                        </p>
                    </div>
                    <div class="mat-body-strong para-container">3.08 Non-Solicit
                        <div class="mat-body-strong para-container">3.08.1 Non-solicitation of employee
                            <p class="mat-body">During the Employee's employment with Prodapt and for a period
                                of
                                two (2) years following the termination of his or her employment with Prodapt,
                                for
                                any reason, Employee agrees to refrain from and will not, directly or indirectly
                                as
                                an independent contractor, employee, consultant, agent, partner, joint venture
                                or
                                otherwise solicit or take away, or attempt to solicit or take away employees of
                                Prodapt, either for Employee's own business or for any other person or entity.
                            </p>
                        </div>
                        <div class="mat-body-strong para-container">3.08.2 Non-solicitation of clients etc.
                            <p class="mat-body">Employee agrees that during the time the Employee is employed by
                                Prodapt and
                                for a period of twenty four (24) months after termination of Employee's
                                employment
                                with
                                Prodapt, for any reason, Employee shall not, directly or indirectly, either for
                                the
                                Employee
                                or on behalf of any other person, firm, company or corporation:
                            </p>
                            <div class="mat-body para-container">
                                (i) Solicit, divert, or take away any of the
                                existing
                                customers
                                of Prodapt.

                                <br>

                                (ii) Solicit or accept business from or provide services to or
                                accept employment with or seek remuneration from any of the clients
                                or customers of Prodapt or any entity under common control of any client or
                                customer of Prodapt. For purposes of this Agreement, a client or customer of
                                Prodapt shall be defined as any person, firm, partnership, corporation or other
                                entity with or to whom Prodapt (i) sold goods or services, (ii) had submitted a
                                written proposal for a specific requirement, or (iii) had work in progress,
                                as of the date of Employee's termination of employment or during the twenty
                                four (24) months prior to the termination of employment of Employee; or

                                <br>

                                (iii) Render services as an employee, consultant or otherwise,
                                to or assist with the creation of any Competing Organization or
                                associate or join direct competitors.
                            </div>


                            <p class="mat-body">NOTE: For the purposes of this clause, a "Competing
                                Organization" means any person or organization, including Employee
                                which
                                (i)
                                is
                                engaged in, or about to become engaged in, the design, development,
                                integration,
                                implementation, sale, marketing or distribution of software
                                applications
                                which
                                are identical or substantially similar to any product provided by
                                Prodapt in
                                existence or under development during the time of Employee's
                                employment
                                with
                                Prodapt or (ii) is engaged in, or about to become engaged, in the
                                provision
                                of
                                software consulting or design/development services which are
                                identical
                                to or
                                substantially similar to the services provided by or procedures and
                                methodologies used by or planned to be used by Prodapt during the
                                Employee's
                                employment with Prodapt.
                            </p>


                        </div>
                    </div>
                    <br>
                    <div class="mat-body-strong para-container">3.09 Non-Disclosure
                        <div class="mat-body-strong para-container">3.09.1 Non-disclosure of Prodapt’s
                            confidential information

                            <p class="mat-body p-2">
                                Employee agrees at all times during the term of his or her employment and
                                thereafter to hold in strict confidence, and not to use, except for the benefit
                                of Prodapt, or to disclose to any person, firm or corporation without written
                                authorization of the Board of Directors of Prodapt, any Confidential Information
                                of Prodapt. Employee understands that "Confidential Information" means any and
                                all information and knowledge regarding the Business which the Employee
                                assimilates or to which the Employee has access during his or her employment
                                with Prodapt including, but not limited, to Prodapt proprietary methods and
                                methodology, the eSolve methodology, technical data, trade secrets, know-how,
                                research and development information, product plans, products, services, client
                                lists and clients (including, but not limited to, clients of Prodapt on whom
                                Employee calls or with whom Employee becomes acquainted during the term of his
                                or her employment), prospective clients as identified from time to time in the
                                records of Prodapt, client information, books and records of Prodapt, corporate
                                relationships, suppliers, markets, computer software, computer software
                                development inventions, processes, formulas, technology, designs, drawings,
                                technical information, source codes, engineering information, hardware
                                configuration information, and matter of a business nature such as information
                                regarding marketing, costs, pricing, finances, financial models and projections,
                                billings or other similar business information. Employee further understands
                                that Confidential Information does not include any of the foregoing items, which
                                has become publicly known and made generally available through no wrongful act
                                of Employee. Employee further agrees that all Confidential Information shall at
                                all times remain the property of Prodapt.
                            </p>
                        </div>
                        <div class="mat-body-strong para-container">3.09.2 Non-disclosure of former employer’s
                            information
                            <p class="mat-body">Employee represents and warrants that the execution of this
                                Agreement and performance of the Employee's obligations hereunder will not
                                conflict with, result in the breach of any provision of, or the termination of
                                or constitute a default under any agreement with any other person or entity of
                                which the Employee is a party or by which the Employee is bound. Furthermore,
                                Employee agrees that he or she will not, during his or her employment with
                                Prodapt, improperly use or disclose any proprietary information or trade secrets
                                of any former employer or other person or entity with which Employee has an
                                agreement or duty to keep in confidence and that Employee will not bring onto
                                the premises of Prodapt any unpublished document or proprietary information
                                belonging to any such employer, person or entity unless consented to in writing
                                by such employer, person or entity.
                            </p>
                        </div>
                        <div class="mat-body-strong para-container">3.09.3 Non-disclosure of any third party
                            information
                            <p class="mat-body">
                                Employee recognizes that Prodapt has received and in the future will receive
                                from third parties their confidential or proprietary information subject to a
                                duty on Prodapt's part to maintain the confidentiality of such information and
                                to use it only for certain limited purposes. Employee agrees to hold all such
                                confidential or proprietary information in the strictest confidence and not to
                                disclose it to any person, firm or corporation or to use it except as necessary
                                in carrying out his or her work for Prodapt consistent with Prodapt's agreement
                                with such third party
                            </p>
                        </div>
                    </div>
                    <p class="mat-body-strong">Disputes</p>
                    <p class="mat-body">
                        In the event any dispute or difference arises between Prodapt and yourself, in
                        respect
                        of
                        the interpretation, operation, validity or effect of the terms of this Letter of
                        Employment,
                        or any other dispute arising in the course of your employment, such dispute or
                        difference
                        shall be resolved by way of arbitration. The venue of arbitration shall be Chennai.
                        The
                        arbitration shall be conducted by a sole arbitrator, to be nominated by the Board of
                        Directors of Prodapt.
                    </p>
                    <p class="mat-body">As a Prodapt employee, you will be expected to abide by company
                        rules
                        and
                        regulations and sign and comply with all Employment Agreements as and when they are
                        made
                        available.</p>
                    <p class="mat-body">In accordance with company policy, you will be requested that you
                        completely
                        fill out the employee background information document. This may require presenting
                        proof
                        of
                        past employment, educational qualifications etc.</p>
                    <p class="mat-body">Please indicate your acceptance of this offer by signing on the
                        appropriate
                        line below and returning a copy with an original signature to the registered office
                        of
                        Prodapt Solutions (P) Ltd.</p>
                    <p class="mat-body">Please note that this offer letter is made specific for each
                        individual
                        and
                        therefore, the terms should be held in confidentiality.</p>
                </div>
            </div>

            <br> <br>
            <div class="left-container">
                <img class="fit-picture" *ngIf="imageUrl" [src]="imageUrl">
                <div class="mat-body-2">Name : {{declarations?.empName}}</div>
                <div class="mat-body-2">Date : {{ndaDocument?.signDate | date}}</div>
            </div>

            <div class="right-container">
                <ngx-signature-pad [config]="config" #signPad></ngx-signature-pad>
                <button mat-button (click)="clear()">Clear</button>
                <button mat-raised-button color="warn" class="pull-right" (click)="getImage()" [disabled]="isInValid()">Capture Sign</button>
            </div>
        </div>
    </ng-template>

    <mat-action-row>
        <button color="accent" mat-raised-button ngxPrint printSectionId="pdf-content" [useExistingCss]="true">
            Download NDA Document
        </button>
    </mat-action-row>
</mat-expansion-panel>