// mat-expansion-panel {
//     mat-expansion-panel-header {
//         display: flex;
//         align-items: stretch;
//         flex-basis: auto;
//         mat-panel-title,
//         mat-panel-description {
//             padding: 0.5rem 0 0.5rem 0;
//             display: flex;
//             flex-wrap: wrap;
//             flex-basis: 0;
//         }
//     }

    .form-container {
        //margin: 3rem;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: minmax(1rem, auto);
        grid-template-areas:
            "table-container table-container table-container"
            "middle-container middle-container middle-container";

        .table-container {
            grid-area: table-container;
            display: flex;
            justify-content: space-around;

            table {
                width: 100%;
                border-collapse: collapse;

                th {
                    font-weight: bold;
                    padding: 6px;
                    text-align: center;
                }
                td {
                    padding: 6px;
                    width: 20%;
                    text-align: center;
                }
            }
        }

        .middle-container {
            grid-area: middle-container;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 0rem 0 3rem 0;
            margin: 0rem 0;
            width: 100%;
            .material-card {
                margin: 1rem;
               // width: 28rem;
                width: 25%;
                height: min-content;
                align-items: center;
                img {
                    height: 25rem;
                    object-fit: scale-down;
                }

                .pdf-viewer-container {
                    height: 25rem;
                    margin-top: -1.5rem;
                    margin-left: -1.5rem;
                    width: 100%;
                    pdf-viewer {
                        height: 20rem;
                        width: 14.14rem;
                        object-fit: fit;
                    }
                }
            }
        }
        
        .specification_doc{
            display: contents;
        }

        .table-specialized {
            border: 1px solid #ccc;
            th {
                font-weight: 400 !important;
                padding: 1rem;
                border: none;
                text-align: center;
                background: #f1f1f1;
            }
            tr {
                border: none;
            }
            td{
                border: none;
            }
        }

        @media only screen and (max-width: 1024px) {
            justify-content: center;
            grid-template-columns: 1fr;
            grid-template-areas:
                "table-container"
                "middle-container";

            .table-container {
                table,
                thead,
                tbody,
                th,
                td,
                tr {
                    display: block;
                    align-items: center;
                }

                .table-specialized {
                    display: block;
                    td {
                        padding: 1rem;
                        width: 100%;
                    }
                    thead tr {
                        position: absolute;
                        top: -9999px;
                        left: -9999px;
                    }

                    tr {
                        border: 2px solid #ccc;
                    }

                    td {
                        /* Behave  like a "row" */
                        border: none;
                        border-bottom: 1px solid #eee;
                        position: relative;
                        padding-left: 50%;
                        align-items: center;
                        text-align: left;
                    }

                    td:before {
                        /* Now like a table header */
                        position: absolute;
                        /* Top/left values mimic padding */
                        top: 6px;
                        left: 6px;
                        width: 45%;
                        padding-right: 10px;
                        white-space: nowrap;
                    }

                    td:nth-of-type(1):before {
                        content: "Course Name";
                    }
                    td:nth-of-type(2):before {
                        content: "Institute Name";
                    }
                    td:nth-of-type(3):before {
                        content: "Completion Date";
                    }
                    td:nth-of-type(4):before {
                        content: "Is Approved";
                    }
                    td:nth-of-type(5):before {
                        content: "Remarks";
                    }
                }
            }
        }
    }
//}
