<ngb-carousel>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../../../assets/puzzles_connect.png" alt="Random first slide">
        </div>
        <!-- <div class="carousel-caption" [ngStyle]="{'color': getColor()}">
            <h3>First slide label</h3>
            <p>Prodapt is a land of abundant opportunities where Innovation and Ideation is the key.</p>
        </div> -->
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../../../assets/we_are_prodaptions.png" alt="Random second slide">
        </div>
        <!-- <div class="carousel-caption" [ngStyle]="{'color': getColor()}">
            <h3>Second slide label</h3>
            <p>Prodapt is a global leader in providing Software, Engineering and Operational services to Digital Service
                Providers.
                Prodapt is also a fun-filled place to work.</p>
        </div> -->
    </ng-template>
    <!-- <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../../../assets/posh_proboarding.png" alt="Random third slide">
        </div>
        <div class="carousel-caption" [ngStyle]="{'color': getColor()}">
            <h3>Third slide label</h3>
            <p>POSH (Prevention of Sexual Harassment) is a legislative act that recognises the human rights of
                protection against sexual harassment..</p>
        </div>
    </ng-template> -->
</ngb-carousel>

<!-- <div id="introduction-to-prodapt">
    <div id="introduction-carousel" class="carousel slide carousel-fade" data-ride="carousel" [ngClass]="{'dark-theme-mode': isDarkTheme}">
        <ol class="carousel-indicators">
            <li data-target="introduction-carousel" data-slide-to="0" [ngClass]="activeImg===1?'active':''"
                (click)="goToIndex(1)"></li>
            <li data-target="introduction-carousel" data-slide-to="1" [ngClass]="activeImg===2?'active':''"
                (click)="goToIndex(2)"></li>
            <li data-target="introduction-carousel" data-slide-to="2" [ngClass]="activeImg===3?'active':''"
                (click)="goToIndex(3)"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div [ngClass]="activeImg===1?'carousel-item-active':'carousel-item'">
                <div class="view">
                    <img class="d-block" src="../../../assets/Puzzles connect.png" alt="First image">
                    <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption">
                    <h6 class="h6-responsive">
                        <b>Prodapt is a land of abundant opportunities where Innovation and Ideation is the key</b>
                    </h6>
                    <p></p>
                </div>
            </div>
            <div [ngClass]="activeImg===2?'carousel-item-active':'carousel-item'">
                <div class="view">
                    <img class="d-block" src="../../../assets/we are prodaptions.png" alt="Second image">
                    <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption">
                    <h6 class="h6-responsive">
                        <b>Prodapt is a global leader in providing Software, Engineering and Operational services to
                            Digital Service Providers. Prodapt is also a fun-filled place to work.</b>
                    </h6>
                    <p></p>
                </div>
            </div>
            <div [ngClass]="activeImg===3?'carousel-item-active':'carousel-item'">
                <div class="view">
                    <img class="d-block" src="../../../assets/POSH.png" alt="Third image">
                    <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption">
                    <h6 class="h6-responsive">
                        <b>POSH (Prevention of Sexual Harassment) is a legislative act that recognises the human rights
                            of protection against sexual harassment</b>
                    </h6>
                    <p></p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" role="button" data-slide="prev" (click)="changeIndex(-1)">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" role="button" data-slide="next" (click)="changeIndex(1)">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
    </div>
</div> -->