<div class="header">
    <div>
        <button mat-button color="accent" (click)="navigateToEditBank()">
            <mat-icon>keyboard_arrow_left</mat-icon> Edit
        </button>
    </div>
    <div class="mat-title text-center">Preview Bank Details</div>
</div>

<!--Progress Bar  -->
<mat-progress-bar mode="indeterminate" *ngIf="showProgressBar"></mat-progress-bar>
<div matExpansionPanelContent>

    <div class="form-container" id="pdf-content-bank">
        <div class="top-container">
            <div class="mat-title text-center">
                Bank Details Form
            </div>
            <div>
                <img class="fit-picture" src="../../../assets/prodapt_logo_comp.png">
            </div>
        </div>

        <div class="left-container">
            <div>
                <p class="mat-title text-left">Bank Details</p>
                <div class="mat-body-1">Bank Name : {{bankDetails?.bankName}}</div>
                <div class="mat-body-1">Branch Name : {{bankDetails?.branchName}}</div>
                <div class="mat-body-1">Account Number : {{bankDetails?.accountNumber}}</div>
                <div class="mat-body-1">IFSC Code : {{bankDetails?.ifscCode}}</div>
                <div class="mat-body-1">Document Type : {{bankDetails?.docType}}</div>
                <div class="mat-body-1">Employee Name : {{bankDetails?.empName}}</div>
                <div class="mat-body-1">Employee Code : {{bankDetails?.empCode}}</div>
                <div class="mat-body-1">Employee DOJ : {{bankDetails?.dateOfJoining | date:'longDate' }}</div>
            </div>
        </div>

        <div class="right-container">
            <mat-card class="material-card" *ngIf="fileType">
                <img mat-card-image *ngIf="imageUrl" [src]="imageUrl">
                <div class="pdf-viewer-container" *ngIf="pdfUrl">
                    <pdf-viewer [src]="pdfUrl" [original-size]="false"></pdf-viewer>
                </div>
                <mat-card-actions class="text-center">
                    <input #imageInput style="display : none" type="file"
                        accept="image/jpeg,image/png,application/pdf,image/x-eps">
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>