.header {
    display: flex;
    margin-right: 2rem;
    justify-content: space-between;
}

.form-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(1rem, auto);
    grid-template-areas:
        "top-container top-container"
        "left-container right-container";

    .top-container {
        grid-area: top-container;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-left: 2rem;

        .fit-picture {
            padding: 2rem;
            margin: 2rem 0 0 0;
            background-color: transparent;
            width: 280px;
            justify-content: center;
        }
    }

    .left-container {
        grid-area: left-container;
        display: flex;
        justify-content: center;
        padding: 1rem 2rem 1rem 2rem;
        border-left: none;
        position: relative;

        div {
            min-width: 30rem;
            min-height: fit-content;
        }
    }

    .right-container {
        grid-area: right-container;
        display: flex;
        justify-content: center;
        padding: 1rem;
        .material-card {
            width: 28rem;
            height: min-content;
            align-items: center;
            img {
                height: 25rem;
                object-fit: scale-down;
            }

            .pdf-viewer-container {
                height: 25rem;
                margin-top: -1.5rem;
                margin-left: -1.5rem;
                width: 100%;
                pdf-viewer {
                    height: 20rem;
                    width: 14.14rem;
                    object-fit: fit;
                }
            }
        }
    }
    @media only screen and (max-width: 760px) {
        justify-content: center;
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        grid-template-areas:
            "top-container"
            "left-container"
            "right-container";

        .top-container {
            margin-top: 2rem;
            justify-content: space-around;
        }
    }
}
