<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Undertaking
        </mat-panel-title>
        <mat-panel-description>
            Provide Your Consent
        </mat-panel-description>
    </mat-expansion-panel-header>
    <!--Progress Bar  -->
    <mat-progress-bar mode="indeterminate" *ngIf="showProgressBar"></mat-progress-bar>
    <!-- Expansion Panel Content -->
    <ng-template matExpansionPanelContent>
        <form [formGroup]="undertakingFormGroup">
            <div class="form-container">
                <ng-template matStepLabel>Undertaking</ng-template>
                <div class="top-container para-container">
                    <div class="mat-body para-container">
                        1) Certified that the Particulars are true to best of my knowledge
                    </div>
                    <div class="mat-body para-container">
                        2) I authorize EPFO to use my Aadhar for verification / authentication / e KYC purpose for
                        service delivery
                    </div>
                    <div class="mat-body para-container">
                        3) Kindly transfer the funds and service details, if applicable, from the previous PF
                        account as
                        declared above to the present PF account.
                        <br>(The transfer would be possble only if the
                        identified
                        KYC details approved by previous employer has been verifiedby the persent employer)
                    </div>
                    <div class="mat-body para-container">
                        4) In case of changes in above details, the same will be intimate to employer at the
                        earliest.
                    </div>
                </div>
                <div class="left-container">
                    <mat-form-field color="accent" appearance="outline">
                        <mat-label>Place</mat-label>
                        <input matInput formControlName="placeOfConsent">
                    </mat-form-field>
                    <mat-form-field color="accent" appearance="outline">
                        <mat-label>Date</mat-label>
                        <input matInput [matDatepicker]="docpicker" [max]="today" placeholder="MM/dd/YYYY"
                            formControlName="dateOfConsent" [value]="doc">
                        <mat-datepicker-toggle matSuffix [for]="docpicker"></mat-datepicker-toggle>
                        <mat-datepicker #docpicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="right-container">
                    <div class="image-container">
                        <ngx-signature-pad [config]="config" #signPad></ngx-signature-pad>
                        <button mat-button (click)="clear()">Clear</button>
                        <button mat-raised-button color="warn" class="pull-right" (click)="getImage()"
                            [disabled]="isInValid()">Capture Sign</button>
                    </div>
                    <div class="mat-body-2">Signature of the member : </div>
                    <img class="fit-picture" *ngIf="epfSignImageUrl" [src]="epfSignImageUrl">
                    <div class="mat-body-2">({{epfKYCDetails?.name}})</div>
                </div>
            </div>
        </form>
    </ng-template>
    <mat-action-row>
        <button color="accent" *ngIf="epfKYCDetails?.id" mat-raised-button [disabled]="!undertakingFormGroup.valid"
            (click)="saveUndertakingForm()" mat-raised-button>Save Undertaking Details</button>
    </mat-action-row>
</mat-expansion-panel>