.dialog {
    .dialog-content {
        mat-form-field {
            width: 30rem;
        }
    }

    .dialog-actions {
        display: flex;
        justify-content: right;
    }

    @media only screen and (max-width: 760px) {
        .dialog-content {
            mat-form-field {
                width: 25rem;
            }
        }
    }
}
