<div class="dialog">
    <h1 mat-dialog-title>Update Password ???</h1>
    <div mat-dialog-content [formGroup]="formGroup" class="dialog-content">
        <p class="mat-body-strong">Are you sure want to update the password ?</p>
        <mat-form-field color="accent" appearance="outline">
            <mat-label>New Password</mat-label>
            <input matInput type="password" placeholder="eg. Abc1234" (keyup)="checkEqual()"
                formControlName="newPassword" required>
            <mat-error *ngIf="formGroupControl.newPassword.errors?.required" align="start">
                New Password is required!
            </mat-error>
        </mat-form-field>
        <mat-form-field color="accent" appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" placeholder="eg. Abc1234" (keyup)="checkEqual()"
                formControlName="confirmPassword" required>
            <mat-error *ngIf="formGroupControl.confirmPassword.errors?.required" align="start">
                Confirm Password is required!
            </mat-error>
        </mat-form-field>
    </div>
    <div mat-dialog-actions class="dialog-actions">
        <button mat-button (click)="onNoClick()">
            Cancel <mat-icon>cancel</mat-icon>
        </button>
        <button mat-button color="warn" [disabled]="!(formGroup.valid && check)" (click)="onSubmit()" cdkFocusInitial>
            Update <mat-icon>done</mat-icon>
        </button>
    </div>
</div>